<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <%# <p>Voter Power!</p> %>
</section>

<section class="row">
  <%# <h1 class="text-sky-500 text-5xl font-bold text-center">Grass-root Micro Donations</h1> %>
  
  <article class="column">
  </article>
  <article class="column">

  </article>
</section>

